.contact{
    width: 95%;
    height: 450px;
    border: 2px dotted rgb(112, 112, 248);
    color: rgb(39, 121, 76);
    padding: 10px;
    margin: 10px;
}
.errors{
    background-color: whitesmoke;
    color: blueviolet;
    padding: 5px;
}

.image{
    margin:20px;
    height:200px;
    width:60px ;

}
.image img{
    height:100%;
    width: 100%;
}